#about{
    padding-left: 15%;
    padding-right: 25%;
    min-height: 60vh;
}

.about-description ul{
    padding-top: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2,minmax(150px, 10px));
}

.about-description li{
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    color: #d4d5d9;
}

.about-description li::before{
    content: "    ";
    color: red;
    position: absolute;
    left: 0;
}

.about-content{
    display: flex;
    flex-direction: row;
}

.about-description{
    font-family: "HandoSoftTrial";
    color: #d4d5d9;
    max-width: 600px;
    font-size: 22px;
    text-align:justify;
    margin: 0;
}

.about-description a,
.about-description b{
    font-size: 21px;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    #about{
        height: unset;
        padding-left: unset;
        padding-right: unset;
        padding-top: 30px;
    }

    .about-description{
        font-size: 18px;
        text-align: justify;
    }

    .about-description a,
    .about-description b{
        font-size: 17px;
    }

    .about-content{
        display: unset;
    }

}