#experience{
    padding-left: 15%;
    min-height: 60vh;
}

.joblist-job-title{
    font-family:"HandoSoftTrial";
    font-size: 28px;
    font-weight: bold;
    color:#d4d5d9;
}

.joblist-job-company{
    font-family: "HandoSoftTrial";
    font-size: 28px;
    color: #f3172d;
    font-weight: bold;
}

.joblist-duration{
    font-family: "HandoSoftTrial";
    font-size: 18px;
    color: #d4d5d9;
}

#vertical-tabpanel{
    margin-top: -28px;
    padding-left: 25px;
}

.MuiTab-wrapper{
    font-size: 16px;
    text-align: left;
    align-items: flex-start !important;
    font-family: "HandoSoftTrial";
}

.MuiButtonBase-root{
    outline: none !important;
    color: #d4d5d9 !important;
}

.PrivateTabIndicator-colorSecondary-5{
    background-color: #f3172d !important;
}

.jss5 {
    background-color:#f3172d!important;
}

.BOX{
    border-right: 1px solid #f3172d !important;
}

#experience .MuiTab-root{
    padding: 6px 20px;
}

.MuiButtonBase-root:focus{
    color: #f3172d;
}



ul{
    list-style: none;
    margin-left: -40px;
}

.job-description li::before{
    content: "   ";
    color: #f3172d;
    position: absolute;
    left: 0;
}

.job-description li{
    position: relative;
    padding-left: 30px;
    padding-bottom: 16px;
    font-size: 18px;
    color: #d4d5d9;
}

.job-description{
    padding-top: 24px;
    max-width: 650px;
    font-family:"HandoSoftTrial" ;
    font-size: 20px;
}

.job-description a,
.job-description b{
    font-size: 19px;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    #experience{
        padding-left: unset;
        padding-right: unset;
    }

    .jss1{
        height: unset !important;
        flex-direction: column !important;
    }

    .styled-root-1{
        height: unset !important;
        width: unset;
        flex-direction: column;
    }

    .joblist-job-title{
        font-size: 22px;
    }

    .joblist-job-company{
        font-size: 22px;
    }
}






